.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
    height: 8rem;
}

.menuLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--primary);
    gap: 0.8rem;
    transition: all 1s ease-in-out;
}

.menuLink:hover {
    filter: brightness(82%);
}

.menuLink span {
    font-weight: bold;
    font-size: 3.6rem;
}

.menuLink svg {
    width: 6.5rem;
    height: 6.5rem;
}