.menuButton {
    width: 5.2rem;
    height: 5.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    border-radius: 1.4rem;
    transition: all 0.6s ease-in-out;
}

.menuButton:hover {
    filter: brightness(80%);
}

.menuButton svg {
    color: var(--gray-900);
    width: 60%;
    height: 60%;
}