.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
}

.logoLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--primary);
    gap: 0.8rem;
    transition: all 1s ease-in-out;
}

.logoLink:hover {
    filter: brightness(82%);
}

.logoLink span {
    font-weight: bold;
    font-size: 3.6rem;
}

.logoLink svg {
    width: 6.5rem;
    height: 6.5rem;
}